header {
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    z-index: 998;
    padding: 1%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; 
}

.actions {
    list-style: none;
    margin-left: 10%;
    z-index: 999;
}

.active-link {
    padding-bottom: 29px;
    border-bottom: 2px solid blue; 
}

ul {
    margin: 0; 
    padding: 0; 
    display: flex;
    align-items: center;
}

li {
    margin-left: 50px;
}

a {
    cursor: pointer;
}

.img-consistence {
    max-width: 55px; 
    height: auto;
}

.create-post {
    cursor: pointer;
}

.user {
    max-width: 55px;
    height: auto;
    border-radius: 50%;
}

.user:hover {
    cursor: pointer;
}

input[type="text"] {
    width: 17rem; 
    height: 2.50rem;
    border-radius: 50px;
    font-size: 1.3rem;
    padding-left: 15px;
}

.no-input {
    max-width: 19px; 
    height: auto;
}

.no-input {
    max-width: 55px; 
}

.custom-modal {
    display: none;
    position: absolute;
    width: 40%;
    top: 15%;
    right: 5%;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    z-index: 999;
    border-radius: 1%;
}

.custom-modal.open {
    display: block;
    position: fixed;
}

.modal-content {
    padding: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #343a40;
    color: #fff;
    padding: 10px;
}

.modal-title {
    margin: 0;
}

.close {
    color: #fff;
    cursor: pointer;
}

.modal-body {
    padding: 10px;
}

.user-div {
    padding: 1%;
    margin-bottom: 2%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

a img.user {
    max-width: 25%;
    height: auto;
    border-radius: 50%;
}

.logout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logout img {
    width: 25px;
    height: auto;
}
