<header class="header fixed-top">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav-bar-list d-flex justify-content-end">
                    <li>
                        <a (click)="redirectToHome(); scrollToTop()" routerLink="/" routerLinkActive="activated">
                            <img class="home img-fluid" src="../../../../assets/images/home.png">
                        </a>
                    </li>
                    <li class="d-flex align-items-center">
                        <input type="text" [(ngModel)]="searchText" (input)="onSearchTextChange()" placeholder="Pesquisar por nome">
                    </li>
                </ul>
            </div>

            <div class="col">
                <ul class="nav-bar-list d-flex justify-content-end">
                    <li class="d-flex align-items-center justify-content-end">
                        <img class="user mb-3" src="../../../../assets/images/User.jpg" (click)="openModal()">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!-- Modal -->
<div class="custom-modal" [ngClass]="{ 'open': modalOpen }">
    <div class="modal-content">
        <div class="modal-body">
            <div class="d-flex flex-column">
                <div class="user-div">
                    <a class="d-flex flex-row mb-3" routerLink="/profile">
                        <img class="user" src="../../../../assets/images/User.jpg">
                        <h4 class="d-flex align-items-center m-4">{{ userName }}</h4>
                    </a>
                </div>

                <div class="logout">
                    <button class="btn btn-danger" (click)="logout(); closeModal();">Sair</button>
                </div>
            </div>
        </div>
    </div>
</div>
