<div class="modal-body">
    <h4>Configurações de Modo</h4>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="darkModeDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Modo Escuro
      </button>
      <div class="dropdown-menu" aria-labelledby="darkModeDropdown">
        <a class="dropdown-item" (click)="setLightMode()">Modo Claro</a>
        <a class="dropdown-item" (click)="setDarkMode()">Modo Escuro</a>
      </div>
    </div>
  </div>
  