<main>
  <div class="container p-5">
    <div class="spinner-border" role="status" *ngIf="isLoading && savedPosts.length === 0">
      <span class="sr-only"></span>
    </div>

    <div class="nothing" *ngIf="savedPosts.length === 0 && !isLoading">
      <p>Nenhum post salvo.</p>
      <button class="btn btn-primary">
        <a [routerLink]="homeLink">Voltar</a>
      </button>
    </div>

    <div *ngFor="let post of savedPosts">
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img class="avatar" [src]="photo">
              <h4 class="mt-1" *ngIf="post.user">{{ post.user.name }}</h4>
            </div>

            <div class="ellipsis">
              <button class="btn btn-link" (click)="openOptions(post)">
                <img [src]="ellipsis">
              </button>
              <div *ngIf="isOptionsMenuOpen && post === postWithOptions">
                <div class="options-menu">
                  <button class="btn" (click)="removePost(post)">Remover publicação</button>
                </div>
              </div>
            </div>
          </div>
          <p class="card-text">{{ post.body | capitalizeFirstLetter }}</p>
          <section class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <button (click)="toggleLike(post)" class="like-button btn btn-link">
                <img class="like" [src]="post.liked ? liked : noLiked" alt="Curtir">
              </button>
              <span>{{ post.likes }}</span>
            </div>
            <div class="comments">
              <button (click)="openCommentsModal(post.id)" class="btn btn-link">
                <img class="comments-image" [src]="comment" alt="Comentar">
                Comentar
              </button>
            </div>
            <div class="share">
              <button disabled>
                <img [src]="share">
                Compartilhar
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Modal de Comentários -->
<section class="modal comments-modal" *ngIf="isCommentsModalOpen" (click)="closeCommentsModal($event)" #commentsModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Comentários</h5>
      </div>
      <div class="modal-body mb-5" #commentsModalBody>
        <ul class="list">
          <li class="card mb-5" *ngFor="let comment of comments; let i = index">
            <div class="d-flex justify-content-start align-items-center">
              <img class="avatar m-1" [src]="comment.image || photo">
              <h4><strong>Usuário</strong></h4>
            </div>
            <p class="p-2">{{ comment.body | capitalizeFirstLetter }}</p>
            <div class="d-flex align-items-center">
              <button (click)="toggleCommentLike(comment)" class="btn btn-link">
                <img class="like" [src]="comment.liked ? liked : noLiked" alt="Curtir">
              </button>
              <span>{{ comment.likes }}</span>
            </div>
          </li>
        </ul>
        <div class="newComment form-group d-flex align-items-center">
          <img class="img-comment" [src]="userPhoto" alt="Imagem do Usuário">
          <input type="text"
            placeholder="Comentar..."
            class="form-control m-2"
            [(ngModel)]="newComment"
            (click)="stopPropagation($event)"
            (keyup.enter)="addNewComment()">
        </div>
      </div>
    </div>
  </div>
</section>