<div class="text-center">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt-5">
        <div class="p-2">
            <input type="email" class="form-control" 
            placeholder="Email" name="email" 
            [(ngModel)]="email" email required
            [ngClass]="showError('email', form) ? 'is-invalid' : ''"
            #emailInput>

            <div *ngIf="showError('email', form)" class="invalid-feedback">E-mail inválido.</div>
        </div>

        <div class="p-2">
            <input type="password" class="form-control" 
            placeholder="Password" name="password" 
            [(ngModel)]="password" required
            [class.is-invalid]="showError('password', form)"
            #passwordInput>

            <p *ngIf="showError('password', form)" class="invalid-feedback">Senha inválida.</p>
        </div>

        <div>
            <p *ngIf="loginError">Usuário ou senha inválidos</p>
        </div>

        <div class="p-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="isLoading">
                <span *ngIf="!isLoading">Entrar</span>
                <div *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status">
                    <span class="sr-only"></span>
                </div>
            </button>
        </div>
    </form>
</div>
